# TASK #1: UNDERSTAND VARIABLES ASSIGNMENT

In [1]:
# Define a variable named "x" and assign a number (integer) to it
# integer is a whole number (no decimals) that could be positive or negative

x = 10

In [2]:
# Let's view "x"
print(x)

10

In [3]:
# Define a variable named "y" and assign a number (float) to it
# Float are real numbers with a decimal point dividing the integer and fractional parts
y = 2.4

In [4]:
# Let's view "y"
print(y)

2.4

In [5]:
# Let's overwrite "y" (assume your portfolio value increased)
y = 3.4

In [6]:
# Notice that "y" will only contain the most recent value
print(y)

3.4

In [7]:
# Get the type of "x" which is integer
# integer is a whole number (no decimals) that could be positive or negative
print(type(x))

<class 'int'>

In [8]:
# Get the type of "y" which is float
# Float are real numbers with a decimal point dividing the integer and fractional parts
print(type(y))

<class 'float'>

MINI CHALLENGE #1:
- We defined a variable x and we assigned these 4 values listed below to it. Without executing any code cells, what will these lines of code generate?
- Verify your answer by executing the code cells



```
z = 1000
z = 2000
z = 5000
z = 6000
z
```

In [9]:
x = 1000
x = 2000
x = 5000
x= 6000
print(x)

6000

# TASK #2: PERFORM MATH OPERATIONS IN PYTHON

In [10]:
# Define a variable named i and initialize it with 20 
# Let's assume that we want to increment the value by 4 
i = 20
i = i +4
i

24

In [11]:
# Let's assume that you own a little grocery store 
# The price of 1 bottle of milk is $3 and we currently have 50 bottles
# We can calculate the total dollar value of our inventory as follows:
milk_price = 3
milk_amount = 50
total_price = milk_price * milk_amount
total_price

150

In [12]:
# Let's assume you have $550 USD in our bank account
# We want to buy x number of IBM stocks using the total amount 
# each IBM stock is priced at $128 each

account_balance = 550 
IBM_stock_price = 128 

units = account_balance/IBM_stock_price

units

4.296875

In [13]:
# Divide the account balance by Amazon stock price and place the answer in units
amount_share = account_balance/IBM_stock_price
units

4.296875

MINI CHALLENGE #2:
- Write a code that takes in APPLE (AAPL) stock prices at two days and calculate the return:
  - AAPL price on day 1 = \$135
  - AAPL price on day 2 = \$150

In [14]:
AAPL_price_1 = 135
AAPL_price_2 = 150 
return_diff = AAPL_price_2 - AAPL_price_1
percentage_change = return_diff / AAPL_price_1 * 100
percentage_change

11.11111111111111

# TASK #3: UNDERSTAND PRINT AND INPUT OPERATIONS

In [15]:
# Print function is used to print elements on the screen
# Define a string x 
# A string in Python is a sequence of characters
# String in python are surrounded by single or double quotation marks
x = "Hello world, this Hadi"

In [16]:
print(x)

Hello world, this Hadi

In [17]:
# Obtain the data type for 'x'
type(x)

str

In [18]:
# The format() method formats the specified value and insert it in the placeholder
# The placeholder is defined using curly braces: {}

company_name = "Apple"
shares = 500 

print("I own {} share of {}".format(company_name, shares))

I own Apple share of 500

In [19]:
# input is a built-in function in python
# Obtain client data such as name, country and e-mail and print them all out on the screen
user_name = input("Whats your name ?")
order = input("What do you want eat today?")

print("Welcome {} your food: {} is ready ".format(user_name, order))

Whats your name ?
What do you want eat today?
Welcome  your food:  is ready

MINI CHALLENGE #3:
- Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:
  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is: 15000

In [20]:
x = input("Enter the price of the stock you want to buy: ")
x = int(x)
y = input("Enter the number of stocks that you want to buy: ")
y = int(y)
z = input("Enter the name of the stock that you want to buy: ")
print('The total funds required to buy {} number of {} stocks at {} is {}'.format(y,z,x, x*y))

Enter the price of the stock you want to buy: 20
Enter the number of stocks that you want to buy: 20
Enter the name of the stock that you want to buy: 20
The total funds required to buy 20 number of 20 stocks at 20 is 400

# TASK #4: UNDERSTAND LISTS DATA TYPES

In [21]:
# A list is a collection which is ordered and changeable. 
# List allows duplicate members.

grocery_list = ['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']
grocery_list

['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']

In [22]:
# Obtain the datatype
type(grocery_list)

list

In [23]:
# Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)
grocery_list[2]

'eggs'

MINI CHALLENGE #4:
- Print the first, second and last element in the list below

```
grocery_list = ['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']

```

In [26]:
print(grocery_list[0])

print(grocery_list[1])
print(grocery_list[-1])

milk
rice
water

# TASK #5: UNDERSTAND COMPARISON OPERATORS AND CONDITIONAL STATEMENTS

In [28]:
# Comparison Operator output could be "True" or "False"
# Let's cover equal '==' comparison operator first
# It's simply a question: "Is x equals y or not?"
# "True" output means condition is satisfied 
# "False" output means Condition is not satisfied (condition is not true) 

x = 200
y = 300 

x == y 

x is y

False

In [29]:
# Greater than or equal operator '>='

x >= y

False

In [ ]:
# Note that '==' is a comparison operator 
# Note that '=' is used for variable assignment (put 10 in x)

In [50]:
x = 132

if x % 2 == 0:
    print("The number is Even")
else:
    print("The number is Odd")

The number is Even

- A simple if-else statement is written in Python as follows:

```
if condition:
  statement #1
else:
  statement #2
```

- If the condition is true, execute the first indented statement
- if the condition is not true, then execute the else indented statements. 
- Note that Python uses indentation (whitespace) to indicate code sections and scope.

In [34]:
# Let's take an input from the user and grant or deny access accordingly

user_name = input("Please Enter your name")

if user_name =="Hadi":
    print("Welcome Hadi")
else:
    print("Sorry I coud'nt recognized you {}".format(user_name))

Please Enter your namesafia
Sorry I coud'nt recognized you safia

In [53]:
inp_number = int(input("Please Enter a number"))

if inp_number%2 == 0:
    print("The number is positive")
elif x >0: 
    print("The number is negative")
else:
    print("The number is Zero")

Please Enter a number20
The number is positive

MINI CHALLENGE #5:
- Write a code that takes a number from the user and indicates if it's positive or negative

# TASK #6: DEVELOP FUNCTIONS IN PYTHON

In [43]:
# Define a function that takes in two argument x and y and returns their multiplication 
def multiplier(x, y):
    result = x * y
    return result

In [44]:
# Call the function
multiplier(20, 30)

600

MINI CHALLENGE #6:
- Write a code that takes in three inputs from the user and calculate their sum

In [54]:
def summation(x, y, z):
    return x + y + z

summation(10, 20, 30)

60

# TASK #7: UNDERSTAND FOR AND WHILE LOOPS

In [55]:
# List of strings
grocery_list = ['milk', 'eggs', 'honey', 'apple', 'banana', 'water']
grocery_list

['milk', 'eggs', 'honey', 'apple', 'banana', 'water']

In [66]:
for i in grocery_list:
    print(i)

milk
eggs
honey
apple
banana
water

In [67]:
# Range() generates a list of numbers, which is used to iterate over with for loops.
# range() is 0-index based, meaning list indexes start at 0, not 1. 
# The last integer generated by range() is up to, but not including, last element. 
# Example: range(0, 7) generates integers from 0 up to, but not including, 7.

for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [68]:
# While loop can be used to execute a set of statements as long as a certain condition holds true.
i = 2

while i <= 20:
    i = i +1 
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

MINI CHALLENGE #7:
- Write a code that displays numbers from 1 to 10 using for and while loops

In [75]:
for i in range(3, 21):
    print(i+1)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [70]:
i = 2

while i <= 20:
    i = i +1 
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

# TASK #8: CAPSTONE PROJECT

Develop a guessing game that performs the following: 
- The system will automatically generate a random number between 1 and 100. 
- Users can insert any number between 1 and 100
- The program shall be able to compare the number generated by the system and the number that has been entered by the user. The program shall print out one of the following options to help the user improve their next guess:
    - You are right, great job!
    - Your guess is low, try again!
    - your guess is high, try again!

- The program exits when the user guess matches the number generated by the system

In [78]:
import random 

true_number = random.randint(1, 100)
true_number

57

In [79]:
guess_number = int(input("Guess a number between 1 and 100;"))
guess_number

Guess a number between 1 and 100;23

23

In [ ]:
while True:
    if guess_number == true_number:
        print("You are right, great job!")
        break
    elif guess_number < true_number:
        print("Your guess is low, try again!")
        guess_number = int(input("Guess a number between 1 and 100;"))

    else:
        print("your guess is high, try again!")
        guess_number = int(input("Guess a number between 1 and 100;"))

Your guess is low, try again!
Guess a number between 1 and 100;23
Your guess is low, try again!
Guess a number between 1 and 100;54
Your guess is low, try again!
Guess a number between 1 and 100;5
Your guess is low, try again!
Guess a number between 1 and 100;5
Your guess is low, try again!